[MASTER]
disable =
    logging-fstring-interpolation,
    logging-format-interpolation,
    attribute-defined-outside-init,
    protected-access,
    too-many-arguments,
    too-many-instance-attributes,
    too-few-public-methods,
    invalid-name,
    missing-docstring,
    line-too-long,
    too-many-lines,
    too-many-branches,
    too-many-statements,
    too-many-locals,
    unused-argument,
    redefined-builtin,
    redefined-outer-name,
    reimported,
    unused-import,
    import-outside-toplevel,
    broad-except,
    fixme,
    no-member,
    consider-using-f-string,
    unnecessary-lambda,
    unused-variable,
    arguments-differ,
    signature-differs,
    not-callable,
    unsubscriptable-object,
    unsupported-assignment-operation

[FORMAT]
max-line-length = 120

[DESIGN]
max-args = 10
max-locals = 25
max-returns = 10
max-branches = 20
max-statements = 60
max-parents = 10

[SIMILARITIES]
min-similarity-lines = 6